@{
    ViewData["Title"] = "Inicio";
}


<div class="col">
                <div class="card">
                    <img style="width: 100%;" src="~/img/fondo.jpg" class="card-img-top" alt="..." />
                    <div class="card-body">
                        <center>
                        <h3 class="card-title">Encuentra tu lugar para vivir</h3>
                        </center>
                    </div>
                </div>
</div>
