@model AlvarezInmobiliaria.Models.Contrato

@{
    ViewData["Title"] = " Nuevo Contrato";
}

<h1> Nuevo Contrato</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FechaInicio" class="control-label"></label>
                <input type="date" asp-for="FechaInicio" class="form-control"/>
                <span asp-validation-for="FechaInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaFin" class="control-label"></label>
                <input type="date" asp-for="FechaFin" class="form-control"/>
                <span asp-validation-for="FechaFin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Alquiler" class="control-label"></label>
                <input asp-for="Alquiler" type="number" step="0.01" class="form-control" placeholder="Monto del alquiler"/>
                <span asp-validation-for="Alquiler" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InmuebleId" class="control-label"></label>
                <select class="form-control" name="InmuebleId">
                    <option value="" selected disabled>Seleccione un Inmueble...</option>
                    @if(ViewBag.Inmuebles != null)
                    {
                        @foreach (var item in (IList<Inmueble>)ViewBag.Inmuebles)
                        {
                            <option value="@item.Id">@item.Direccion</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="InquilinoId" class="control-label"></label>
                <select class="form-control" name="InquilinoId">
                    <option value="" selected disabled>Seleccione un Inquilino...</option>
                    @if(ViewBag.Inquilinos != null)
                    {
                        @foreach (var item in (IList<Inquilino>)ViewBag.Inquilinos)
                        {
                            <option value="@item.Id">@item.ToString()</option>
                        }
                    }
                </select>
            </div>
			<br />
			<div class="form-group">
				<a asp-action="Index" class="btn btn-secondary"><i class="fa-solid fa-chevron-left"></i>Volver al listado</a>
				<button type="submit" class="btn btn-primary"><i class="ion-ios-checkmark"></i> Guardar</button>	
			</div>
        </form>
    </div>
</div>