@model AlvarezInmobiliaria.Models.Contrato
@{
    ViewData["Title"] = "Renovar contrato";
    var contrato = ViewBag.Contrato;
    var inmuebles = ViewBag.Inmuebles; 
    var inmueble = ViewBag.Inmueble;
    var inquilinos =ViewBag.Inquilinos;
    var inquilino = ViewBag.Inquilino;

}

<h1>Renovar Contrato</h1>
<div class="alert alert-info" role="alert">
<h5>La fecha de finalización de este contrato es @contrato.FechaFin.ToString("dd 'de' MMMM 'del' yyyy")</h5>
</div>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Renovar" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id">
            <div class="form-group">
                <label asp-for="FechaInicio" class="control-label"></label>
                <input type="date" asp-for="FechaInicio" class="form-control" value=""/>
                <span asp-validation-for="FechaInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaFin" class="control-label"></label>
                <input asp-for="FechaFin" class="form-control" value=""/>
                <span asp-validation-for="FechaFin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Alquiler" class="control-label"></label>
                <input asp-for="Alquiler" class="form-control" placeholder="Monto del alquiler" value="@contrato.Alquiler"/>
                <span asp-validation-for="Alquiler" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InmuebleId" class="control-label"></label>
                <input asp-for="InmuebleId" class="form-control" value=@contrato.InmuebleId />
                <span asp-validation-for="InmuebleId" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="InquilinoId" class="control-label"></label>
                <input asp-for="InquilinoId" class="form-control" value=@contrato.InquilinoId />
                <span asp-validation-for="InquilinoId" class="text-danger"value=@(inquilino.ToString())></span>
            </div>
            <br/>
            <div>
                <a asp-action="Index" class="btn btn-secondary"><i class="chevron-double-left"></i>Volver al listado</a>
                <input type="submit" value="Renovar" class="btn btn-success">
            </div>
        </form>
    </div>
</div>